
<div *ngIf="apiService.modalVisible" class="modal-container p-8 bg-white rounded-lg shadow-lg">
  <div class="relative">
      <button id="btnCerrarToast" type="button" class="absolute top-0 right-0 -mt-4 -mr-4 bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" (click)="cerrarModal()" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
  </div>
  <div class="flex justify-center ml-40">
    <ol class="flex items-center w-full mb-4 sm:mb-5">
      <li class="flex w-full items-center text-gray-600 dark:text-gray-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-800" [ngClass]="{'text-blue-700 dark:text-blue-600 after:border-blue-100 dark:after:border-blue-700': currentIndex >= 1}">
        <button (click)="botonesOL(0)" class="flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-700 shrink-0">
                <svg class="w-4 h-4 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM6.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM3.014 13.021l.157-.625A3.427 3.427 0 0 1 6.5 9.571a3.426 3.426 0 0 1 3.322 2.805l.159.622-6.967.023ZM16 12h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Z"/>
                </svg>
            </button>
        </li>
        <li class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700" [ngClass]="{'text-blue-700 dark:text-blue-500 after:border-blue-100 dark:after:border-blue-700': currentIndex >= 2}">
          <button (click)="botonesOL(1)" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0" [ngClass]="{'bg-blue-100 dark:bg-blue-700': currentIndex >= 1}">
              <svg class="w-4 h-4 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                  <path d="M18 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM2 12V6h16v6H2Z"/>
                  <path d="M6 8H4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2Zm8 0H9a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2Z"/>
              </svg>
          </button>
      </li>
        <li class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700" [ngClass]="{'text-blue-700 dark:text-blue-500 after:border-blue-100 dark:after:border-blue-700': currentIndex >= 3}" >
            <button (click)="botonesOL(2)" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0" [ngClass]="{'bg-blue-100 dark:bg-blue-700': currentIndex >= 2}">
                <svg class="w-4 h-4 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                    <path d="M18 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM2 12V6h16v6H2Z"/>
                    <path d="M6 8H4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2Zm8 0H9a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2Z"/>
                </svg>
            </button>
        </li>
        <li class="flex items-center w-full">
            <button (click)="botonesOL(3)" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0" [ngClass]="{'bg-blue-100 dark:bg-blue-700': currentIndex >= 3}">
                <svg class="w-4 h-4 text-blue-600 lg:w-6 lg:h-6 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                    <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                </svg>
            </button>
        </li>
    </ol>
  </div>


  <div *ngIf="currentIndex==0" form="Datos">
    <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-dark">Datos de la obra</h3>
      <div class="grid gap-4 mb-4 sm:grid-cols-3">
          <div>
              <label>Número de obra:</label>
              <input type="text"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value=" {{ numObra }} " disabled >
          </div>
          <div>
            <label>Fecha de inicio:</label>
            <input type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value=" {{ fechaInicio }} " disabled >
          </div>
          <div>
            <label>Fecha de termino:</label>
            <input type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value=" {{ fechaTermino }} " disabled >
          </div>
          <div>
            <label>Area:</label>
            <input type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value=" {{ area }} " disabled >
          </div>
          <div>
            <label>Sector:</label>
            <input type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value=" {{ sector }} " disabled >
          </div>
          <div>
            <label>Estado de obra:</label>
            <input type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value=" {{ estadoObra }} " disabled >
          </div>
      </div>
      <div class="grid gap-4 mb-4 sm:grid-cols-1">
        <div>
          <label>Trabajos incluidos:</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ trabajosIncluidos }} " disabled >
        </div>
        <div>
          <label>Tipo de obra:</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ simbologia }} " disabled >
        </div>
        <div>
          <label>Obras secundarias:</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ simbologia2 }} " disabled >
        </div>
        <div>
          <label>Colonia(s):</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ colonias }} " disabled >
        </div>
        <div>
          <label>Detalle(s):</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ detalle }} " disabled >
        </div>
        <div>
          <label>Beneficiario(s):</label>
          <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          value=" {{ beneficiarios }} " disabled >
        </div>
      </div>
    <br>
    <br>
    <div class="relative">

      <button type="button" (click)="siguienteLi()" class="absolute bottom-0 right-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Siguiente
      </button>
    </div>



  </div>


  <div *ngIf="currentIndex==1" form="fotosAntes" class="grid grid-cols-2 gap-4">
    <h3 class="mb-4 col-span-2 text-lg font-medium leading-none text-gray-900 dark:text-dark">Fotografías antes de la obra</h3>
    <ng-container *ngFor="let foto of fotosAntes; let i = index">
      <div class="col-span-1">
        <img [src]="foto.imagenSrc" style="cursor: pointer; width: 100%; margin-block-end: 3em;">
        <p *ngIf="foto.descripcion">{{ foto.descripcion }}</p>
      </div>
      <!-- Agrega el elemento div solo al final de cada fila -->
      <ng-container *ngIf="(i + 1) % 2 === 0 && i !== fotosDurante.length - 1" class="w-full"></ng-container>
    </ng-container>

    <br>
    <br>
    <div class="relative col-span-2">
      <button type="button" (click)="anteriorLi()" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-blue-700 dark:focus:ring-gray-800">
        Anterior
      </button>
      <button type="button" (click)="siguienteLi()" class="absolute bottom-0 right-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Siguiente
      </button>
    </div>
  </div>


  <div *ngIf="currentIndex==2" form="fotosDurante" class="grid grid-cols-2 gap-4">
    <h3 class="mb-4 col-span-2 text-lg font-medium leading-none text-gray-900 dark:text-dark">Fotografías durante la obra</h3>
    <ng-container *ngFor="let foto of fotosDurante; let i = index">
      <div class="col-span-1">
        <img [src]="foto.imagenSrc" style="cursor: pointer; width: 100%; margin-block-end: 3em;">
        <p *ngIf="foto.descripcion">{{ foto.descripcion }}</p>
      </div>
      <!-- Agrega el elemento div solo al final de cada fila -->
      <ng-container *ngIf="(i + 1) % 2 === 0 && i !== fotosDurante.length - 1" class="w-full"></ng-container>
    </ng-container>

    <br>
    <br>
    <div class="relative col-span-2">
      <button type="button" (click)="anteriorLi()" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-blue-700 dark:focus:ring-gray-800">
        Anterior
      </button>
      <button type="button" (click)="siguienteLi()" class="absolute bottom-0 right-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Siguiente
      </button>
    </div>
  </div>

  <div *ngIf="currentIndex==3" form="fotosDespues" class="grid grid-cols-2 gap-4">
    <h3 class="mb-4 col-span-2 text-lg font-medium leading-none text-gray-900 dark:text-dark">Fotografías después de la obra</h3>
    <ng-container *ngFor="let foto of fotosDespues; let i = index">
      <div class="col-span-1">
        <img [src]="foto.imagenSrc" style="cursor: pointer; width: 100%; margin-block-end: 3em;">
        <p *ngIf="foto.descripcion">{{ foto.descripcion }}</p>
      </div>
      <!-- Agrega el elemento div solo al final de cada fila -->
      <ng-container *ngIf="(i + 1) % 2 === 0 && i !== fotosDespues.length - 1" class="w-full"></ng-container>
    </ng-container>

    <br>
    <br>
    <div class="relative col-span-2">
      <button type="button" (click)="anteriorLi()" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-blue-700 dark:focus:ring-gray-800">
        Anterior
      </button>
    </div>
  </div>


</div>




