.map {
  width: 100%;
  height: 1114px; /* Puedes ajustar esta altura según tus necesidades */
}

.map-container {
  position: relative;
  z-index: 10; /* Asegúrate de que el z-index sea menor que el del modal */
}

shared-mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
shared-sidebar {
  position: absolute;
  top: 20px;
  right: 0;
  left: 50px;
  width: 250px; /* Ancho del sidebar */
  height: 100%; /* Ajusta la altura según sea necesario */
  z-index: 1; /* Asegura que el sidebar esté sobre el mapa */
}

shared-tarjeta {
  position: absolute;
  bottom: -150px;
  right: 20px; /* Ajusta el valor según sea necesario */
}

shared-modal {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  overflow-y: auto; /* Agrega desplazamiento vertical automáticamente si es necesario */
}

